.event-detail {
    margin-top: 5rem;
    margin-bottom: 25%;
    padding: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    
}

@media (min-width: 47.5rem) {
    .event-detail {
        justify-content: flex-end;
    }
}

@media (min-width: 112.5rem) {
    .event-detail {
        padding: 0;
    }
}

@media (min-width: 47.5rem) {
    .event-detail__image-wrapper {
        width: 49%;
        position: relative;
    }
}

.event-detail__image {
    width: 100%;
    margin-bottom: 2rem;
}

@media (min-width: 47.5rem) {
    .event-detail__image {
        position: absolute;
    }
}

.event-detail__header {
    order: -1;
    margin-bottom: 2rem;
}

@media (min-width: 47.5rem) {
    .event-detail__header {
        order: 0;
        width: 51%;
        padding-left: 3rem;
    }
}

.event-detail__title {
    font-size: 2.5rem;
    font-weight: 900;
}

.event-detail__schedule {
    margin-top: 1rem;
}

.event-detail__location {
    margin-top: 0.5rem;
    font-weight: 300;
}

.event-detail__synopsis {
    font-weight: 300;
    line-height: 1.5;
}

@media (min-width: 47.5rem) {
    .event-detail__synopsis {
        width: 51%;
        padding-left: 3rem;
    }
}


.event-detail__info-wrapper {
    width: 51%;
    margin-top: 3rem;
    
}

@media (min-width: 47.5rem) {
    .event-detail__info-wrapper {
       padding-left: 3rem;
    }
}

.event-detail__info li {
    margin-bottom: 0.5rem;
}

.event-detail__info__title {
    display: inline-block;
    width: 10rem;
    font-weight: 600;
}

.event-detail__socials {
    display: flex;
    align-items: center;
}

.event-detail__socials li {
    margin: 1rem 1rem 1rem 0rem;
}

.event-detail__socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #e9e9e9;
    transition: all 0.2s ease-in-out;
}

.event-detail__socials__link:hover {
    background-color: #000;
}

.event-detail__socials__icon {
    transition: all 0.2s ease-in-out;
}

.event-detail__socials__link:hover .event-detail__socials__icon{
    fill: #fff;
}

.organizer-events {
    padding: 0 1.5rem;
}

@media (min-width: 112.5rem) {
    .organizer-events {
        padding: 0;
    }
}

#organizer-events__list li {
    margin: 1rem 0;
}

.organizer-events__header {
    font-size: 2.5rem;
    font-weight: 900;
}
