#menu__hamburger-button {
    position: relative;
    z-index: 8;
}

.menu__hamburger__icon {
    cursor: pointer;
    width: 2.5rem;
    display: flex;
    flex-wrap: wrap;    
    justify-content: flex-end;
}


.menu__hamburger__icon li {
    background-color: #fff;
    height: 0.3rem;
    width: 2rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    transform-origin: center left;
    transition: all 0.1s ease;
    
}

.exit .menu__hamburger__icon li:nth-child(1) {
    transform: rotate(45deg);
}

.menu__hamburger__icon li:nth-child(2){
    width: 1.6rem;
}

.exit .menu__hamburger__icon li:nth-child(2){
    opacity: 0;
}

.exit .menu__hamburger__icon li:nth-child(3){

    transform: rotate(-45deg);
}



@media (min-width: 80rem) {
    .menu__hamburger__icon{
        display: none;
    }
}

.menu__hamburger-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 1.5rem;
    background-color: #000;
    width: 1px;
    height: 100vh;
    transform: translate(-100vw);
    opacity: 0;
    transition: opacity 0.2s ease;
}

@media (min-width: 80rem) {
    .menu__hamburger-overlay{
        display: none;
    }
}

.shown.menu__hamburger-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 1.5rem;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    transform: translate(0);
    opacity: 1;
    
}



.menu__hamburger-overlay li{
    margin: 1rem 0;
}

.hamburger-overlay__menu {
    width: 40rem
}


.hamburger-overlay__menu a,
#program__button {
    color: #fff;
    font-size: 1.5rem;
}

.menu__hamburger-overlay a:hover {
    text-decoration: underline;
}


.hamburger-overlay__menu__day-list {
    display: none;
    margin: 1rem 0;
    padding-left: 2rem;
    border-left: 0.2rem solid #fff;
    
}

.open.hamburger-overlay__menu__day-list {
    display: block;
}

#program__button {
    display: flex;
    align-items: center;
}

.program__button__arrow {
    margin-left: 2rem;
    transform: rotate(180deg);
    transition: all 0.2s ease;
}

.open.program__button__arrow {
    transform: rotate(0);
}

.program__button__arrow path {
    fill: #fff;
}